
services:

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: location
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

  springapp:
    build: .
    container_name: location_app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/location
    depends_on:
      - mongodb
    networks:
      - backend

networks:
  backend:

volumes:
  mongo_data:
